/** Samitra & ICE.CN Risk 2020**/

body {
    font-family: 'Sarabun', sans-serif;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

/*
   * Sidebar
   */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px;
    /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
   * Navbar
   */

.navbar-brand {
    padding-top: .75rem;
    padding-bottom: .75rem;
    font-size: 1rem;
    background-color: rgba(0, 0, 0, .25);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

/*
   * Utilities
   */

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

/* **************************** RM  *************************************** */

.bg-detail-rm{
    background-color: #8effec12!important;
}
.bg-detail-rm1{
    background-color: #fdffff!important;
}

.shadow-ic{
    -webkit-box-shadow: 4px 13px 46px 0px rgba(235,255,249,1);
    -moz-box-shadow: 4px 13px 46px 0px rgba(235,255,249,1);
    box-shadow: 4px 13px 46px 0px rgb(213, 252, 240);
}
.card {
    border: 0px solid rgba(0, 0, 0, 0) !important;
}

.text-rm-b{
    color: #000836;
}

.bg-foot-b {
    background-color: #000836;
}

.btn-rm-b{
    color: #fff;
    background-color: #03355f;
}
.btn-rm-o{
    color: rgb(29, 29, 29);
    background-color: #c0f800;
}


/* select2 from */
.se2{
    display: block;
    width: 100%;
    height: calc(1.6em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

/* bg title from */
.bg-title-rm0{
  background-color: #a8adaa3b;
}
.bg-title-rm1{
    background-color: #00ff6b3b ;
}
.bg-title-rm2{
    background-color: #ff00923b ;
}
.bg-title-rm3{
    background-color: #00e1ff33 ;
}
.bg-title-rm4{
    background-color: #ff000033 ;
}
.bg-title-rm5{
    background-color: #50ff001a ;
}
.bg-title-rm6{
    background-color: #00ffa733 ;
}
.bg-title-rm7{
    background-color: #0030ff33 ;
}
.bg-menu-tab{
    background-color: #e9ecef1a;
}

/**** ระดับความเสี่ยง ****/
.c-a{
    color: #000;
    background-color: #00ffad;
}
.c-b{
    color: #000;
    background-color: #a9ff00;
}
.c-c{
    color: #000;
    background-color: #fbff00;
}
.c-d{
    color: #000;
    background-color: #ffe000;
}
.c-e{
    color: #000;
    background-color: #ffb100;
}
.c-f{
    color: #fff;
    background-color: #ff5200;
}
.c-g{
    color: #fff;
    background-color: #ff2300;
}
.c-h{
    color: #fff;
    background-color: #ff0000;
}
.c-i{
    color: #fff;
    background-color: #38023c;
}

.text-wrap{
    white-space:normal;
}
.width-wrap{
    width:10px;
}
